.body_background {
    background-image:url("bg1.jpg") ;
    background-position: center;
     background-size: cover;

}
body {
    cursor: pointer;
}
h1 {
    color :yellowgreen ;
    font-size: 40px;
    font-weight: bold;
}
#myCanvas {
    border-width: 10px; 
    background-color: blueviolet;
    border-style:ridge ;
}button {
    background-color: teal;
    color : khaki ;
    padding: 10px 42px; 
    font-size: 16px;

}
input {
    margin-right: 20px;
}
span {
    background-color: aquamarine;
    color: blue;
    font-size: large;
}
